<form action="/artist-search" method="GET">
  <div class="mb-3">
    <label for="name" class="form-label">Artist</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <button type="submit" class="btn btn-primary">Search for an artist</button>
</form>
